<!DOCTYPE html>
<html>
<head>
    <title><%= page.title ? page.title + ' | ' : '' %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- css('css/main') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <div class="container">
        <%- body -%>
    </div>
    <%- partial('_partial/footer') %>
</body>
<%- js('js/browsertest') %>
</html>