<div class="event-container <%- type %>">
	<div>
		<h2><%= title %></h2>
		<% switch (type) {
			case 'jam': %><%- partial('_partial/events/jam', locals) %><% break;
			case 'event': %><%- partial('_partial/events/event', locals) %><% break;
			case 'monthly': %><%- partial('_partial/events/monthly', locals) %><% break;
		} %>
	</div>
	<div>
		<a class="address" href="<%- getGoogleMapsUrl(`${location}, ${address1}, ${address2}`) %>" target="_blank" rel="noopener">
			<%= location %><br>
			<%= address1 %><br>
			<%= address2 %><br>
		</a>
		<a class="time" href="<%- getGoogleCalendarUrl(title, `${location}, ${address1}, ${address2}`, excerpt, moment(start, DATE_FORMAT), moment(end, DATE_FORMAT)) %>" target="_blank" rel="noopener">
			<%= moment(start, DATE_FORMAT).format('dddd, MMMM D, YYYY, h:mm A') %><br>
			<%= moment(end, DATE_FORMAT).format('dddd, MMMM D, YYYY, h:mm A') %>
		</a>
		<div class="description>">
			<%- excerpt %>
		</div>
		<div class="links">
			<% if (typeof facebook != 'undefined') { %>
				<a class="facebook" href="<%- facebook %>" target="_blank" rel="noopener"><span>Facebook</span></a>
			<% } %>
			<% if (typeof meetup != 'undefined') { %>
				<a class="meetup" href="<%- meetup %>" target="_blank" rel="noopener"><span>Meetup</span></a>
			<% } %>
		</div>
	</div>
</div>